<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Components/phototheque/index.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
 <div class="container">
  <!-- Navigation Mobile--> 

  <div class="menuBurger">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box">
      <li><a class="menu__item" href="/home.html">Home</a></li>
      <li><a class="menu__item" href="#">Le Club</a>
        <ul id="sousmenu_box">
          <li id="sousmenu_item"><a  href="/Components/fonctionnement/index.html">Le fonctionnement</a></li>
          <li id="sousmenu_item"><a href="/Components/activites/index.html">Les activités</a></li>
          <li id="sousmenu_item"><a href="/Components/statuts/index.html">Les status</a></li>
       </ul></li>
      <li><a class="menu__item" href="/Components/expositions/index.html">Les expositions</a></li>
      <li><a class="menu__item" href="/Components/phototheque/index.html">La photothèque</a></li>
      <li><a class="menu__item" href="/Components/liens/index.html">Quelques liens</a></li>
    </ul>
  </div>

<!-- Fin Navigation Mobile--> 

<header>
    <figure>
          <img src="/Assets/banniere.png" alt="club photo">
        <!-- <figcaption>Le club photo</figcaption> -->
    </figure>

    <div class="date">
<p>Nous sommes le : <span class="datejour">26 Septembre 2022</span></p>
<input class="members"
type="button" value="Espace Adhérent">
    </div>

  
</header>
  <!-- Fin Entête-->

<!-- Navigation Desktop-->
<nav class="navbar">
    <ul>
        <li class=> <a  href="/home.html">Home</a></li>
        <li ><a  href="#">Le Club</a>
            <ul class="sous">
                <li id="sousmenu"><a  href="/Components/fonctionnement/index.html">Le fonctionnement</a></li>
                <li id="sousmenu"><a href="/Components/activites/index.html">Les activités</a></li>
                <li id="sousmenu"><a href="/Components/statuts/index.html">Les status</a></li>
           </ul>
        </li>
        <li ><a class="btn" href="/Components/expositions/index.html">Les expositions</a></li>
        <li ><a class="btn" href="/Components/phototheque/index.html">La photothèque</a></li>
        <li ><a class="btn" href="/Components/liens/index.html">Quelques liens</a></li>
    </ul>
</nav>
 <!-- Fin Navigation Desktop--> 



<main> <!-- debut milieu -->
 
    <article class="maincontent" >
      
    <!-- début du slider -->
    <section class="auto-slider">

      <h2>Découvrez Notre équipe</h2>

      <div id="slides">
          <figure>
              <img src="/Assets/gallerie/laboss.JPEG" alt="Image">
              <img src="/Assets/gallerie/portrait5.jpeg" alt="Image">
              <img src="/Assets/gallerie/portrait7.webp" alt="Image">
              <img src="/Assets/gallerie/portrait8.jpeg" alt="Image">
              <img src="/Assets/gallerie/portrait9.jpeg" alt="Image">
              <img src="/Assets/gallerie/portrait10.jpeg" alt="Image">
              <img src="/Assets/gallerie/pexels-photo-761115.jpeg" alt="Image">
              <img src="/Assets/gallerie/portrait5.jpg" alt="Image">
          </figure>
          <div class="scrolling"></div>
     </section> <br>
  <!-- fin du slider -->
<br> <br>

 <!-- <h2>Galerie</h2><br><br> -->
  <article>
    <input type="radio" id="art" name="filtrage">
    <label for="art">Art</label>

    <input type="radio" id="voyage" name="filtrage">
    <label for="voyage">Voyage</label>

    <input type="radio" id="lights" name="filtrage">
    <label for="lights">Lights</label>

    <input type="radio" id="all" name="filtrage">
    <label for="all">Toutes</label>

    <hr>

    <img src="/Assets/gallerie/art3.jpeg" class="box box-art"></img>
    <img src="/Assets/gallerie/art4.jpeg" class="box box-lights"></img>
    <img src="/Assets/gallerie/voyage1.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/art.jpeg" class="box box-art"></img>
    <img src="/Assets/gallerie/lights1.jpg" class="box box-lights"></img>
    <img src="/Assets/gallerie/art5.jpeg" class="box box-art"></img>
    <img src="/Assets/gallerie/voyage2.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/lights2.webp" class="box box-lights"></img>
    <img src="/Assets/gallerie/art2.webp" class="box box-art"></img>
    <img src="/Assets/gallerie/voyage3.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/art6.jpeg" class="box box-art"></img>
    <img src="/Assets/gallerie/lights3.jpeg" class="box box-lights"></img>
    <img src="/Assets/gallerie/voyage4.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/art7.jpeg" class="box box-art"></img>
    <img src="/Assets/gallerie/travel.webp" class="box box-voyage"></img>
    <img src="/Assets/gallerie/light5.jpeg" class="box box-lights"></img>
    <img src="/Assets/gallerie/voyage5.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/lights4.jpeg" class="box box-lights"></img>
    <img src="/Assets/gallerie/voyage6.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/Art2.webp" class="box box-lights"></img>
    <img src="/Assets/gallerie/voyage7.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/lights7.jpeg" class="box box-lights"></img>
    <img src="/Assets/gallerie/voyage8.jpeg" class="box box-voyage"></img>
    <img src="/Assets/gallerie/art8.webp" class="box box-art"></img>
</article>
      </div>
    </article>

</main>
    <footer>
      <div>
        <p>Copyright : DWWM</p>
      </div>
       <div> 
        <a href="">Mention Légales</a>
        <a href="/Components/form/index.html">Nous contacter</a>
       </div>
    </footer>
              <!-- fin milieu -->

    </div>  <!-- Fin Container -->

</body>
</html>