{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    form {
        margin-left: 20%;
        width: 50%;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Ajout d'une photo</h1>

    {{ form_start(newForm) }}
        {{ form_row(newForm.title) }}
        {{ form_row(newForm.imageFile) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(newForm) }}
{% endblock %}
