<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Components/statuts/index.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
 <div class="container">
  <!-- Navigation Mobile--> 

  <div class="menuBurger">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box">
      <li><a class="menu__item" href="/home.html">Home</a></li>
      <li><a class="menu__item" href="#">Le Club</a>
        <ul id="sousmenu_box">
          <li id="sousmenu_item"><a  href="/Components/fonctionnement/index.html">Le fonctionnement</a></li>
          <li id="sousmenu_item"><a href="/Components/activites/index.html">Les activités</a></li>
          <li id="sousmenu_item"><a href="/Components/statuts/index.html">Les status</a></li>
       </ul></li>
      <li><a class="menu__item" href="/Components/expositions/index.html">Les expositions</a></li>
      <li><a class="menu__item" href="/Components/phototheque/index.html">La photothèque</a></li>
      <li><a class="menu__item" href="/Components/liens/index.html">Quelques liens</a></li>
    </ul>
  </div>

<!-- Fin Navigation Mobile--> 

<header>
    <figure>
          <img src="/Assets/banniere.png" alt="club photo">
        <!-- <figcaption>Le club photo</figcaption> -->
    </figure>

    <div class="date">
<p>Nous sommes le : <span class="datejour">26 Septembre 2022</span></p>
<input class="members"
type="button" value="Espace Adhérent">
    </div>

  
</header>
  <!-- Fin Entête-->

<!-- Navigation Desktop-->
<nav class="navbar">
    <ul>
        <li class=> <a  href="/home.html">Home</a></li>
        <li ><a  href="#">Le Club</a>
            <ul class="sous">
                <li id="sousmenu"><a  href="/Components/fonctionnement/index.html">Le fonctionnement</a></li>
                <li id="sousmenu"><a href="/Components/activites/index.html">Les activités</a></li>
                <li id="sousmenu"><a href="/Components/statuts/index.html">Les status</a></li>
           </ul>
        </li>
        <li ><a class="btn" href="/Components/expositions/index.html">Les expositions</a></li>
        <li ><a class="btn" href="/Components/phototheque/index.html">La photothèque</a></li>
        <li ><a class="btn" href="/Components/liens/index.html">Quelques liens</a></li>
    </ul>
</nav>
 <!-- Fin Navigation Desktop--> 



<main> <!-- debut milieu -->
 
    <article class="maincontent">
      <div class="bgblue">
    <h2>Vous êtes bien sur la page "Les Statuts" celle ci est actuellement en travaux...</h2><br>
    <img class="wip" src="/Assets/gallerie/WiP.jpeg" alt="Image">
      </div>
    </article>



</main>
    <footer>
      <div>
        <p>Copyright : DWWM</p>
      </div>
       <div> 
        <a href="">Mention Légales</a>
        <a href="/Components/form/index.html">Nous contacter</a>
       </div>
    </footer>
              <!-- fin milieu -->

    </div>  <!-- Fin Container -->

</body>
</html>