{% extends 'base.html.twig' %}

{% block body %}
    <h1>liste des produits</h1>
    <h3>nom du produit : {{ product.name }}</h3>
    <h3>de la catégorie : {{ product.categorie.name }}</h3>
{% endblock %}
