<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Components/activites/index.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
 <div class="container">
  <!-- Navigation Mobile--> 

  <div class="menuBurger">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box">
      <li><a class="menu__item" href="/home.html">Home</a></li>
      <li><a class="menu__item" href="#">Le Club</a>
        <ul id="sousmenu_box">
          <li id="sousmenu_item"><a  href="/Components/fonctionnement/index.html">Le fonctionnement</a></li>
          <li id="sousmenu_item"><a href="/Components/activites/index.html">Les activités</a></li>
          <li id="sousmenu_item"><a href="/Components/statuts/index.html">Les status</a></li>
       </ul></li>
      <li><a class="menu__item" href="/Components/expositions/index.html">Les expositions</a></li>
      <li><a class="menu__item" href="/Components/phototheque/index.html">La photothèque</a></li>
      <li><a class="menu__item" href="/Components/liens/index.html">Quelques liens</a></li>
    </ul>
  </div>

<!-- Fin Navigation Mobile--> 

<header>
    <figure>
          <img src="/Assets/banniere.png" alt="club photo">
        <!-- <figcaption>Le club photo</figcaption> -->
    </figure>

    <div class="date">
<p>Nous sommes le : <span class="datejour">26 Septembre 2022</span></p>
<input class="members"
type="button" value="Espace Adhérent">
    </div>

  
</header>
  <!-- Fin Entête-->

<!-- Navigation Desktop-->
<nav class="navbar">
    <ul>
        <li class=> <a  href="/home.html">Home</a></li>
        <li ><a  href="#">Le Club</a>
            <ul class="sous">
                <li id="sousmenu"><a  href="/Components/fonctionnement/index.html">Le fonctionnement</a></li>
                <li id="sousmenu"><a href="/Components/activites/index.html">Les activités</a></li>
                <li id="sousmenu"><a href="/Components/statuts/index.html">Les status</a></li>
           </ul>
        </li>
        <li ><a class="btn" href="/Components/expositions/index.html">Les expositions</a></li>
        <li ><a class="btn" href="/Components/phototheque/index.html">La photothèque</a></li>
        <li ><a class="btn" href="/Components/liens/index.html">Quelques liens</a></li>
    </ul>
</nav>
 <!-- Fin Navigation Desktop--> 



<main> <!-- debut milieu -->
 
    <article class="maincontent">
      <div class="bgblue">
    <br>

    <section id="onglet">
    
    <a href="#theorie">La Théorie</a>
    <a href="#studio">Le Studio</a>
    <a href="#lab">Le laboratoire</a>
    <a href="#sorties">Les sorties</a>
    <a href="#expo">Les expositions</a>
   </section>
  
   <img src="/Assets/gallerie/activite.jpeg" alt="Image">

  <div>
  <div class="containerp">
    <br><h3 id="theorie">La Théorie</h3><br>
   <p> Le premier objectif du club est d'apprendre ou de s'améliorer dans les techniques de la prise de vue, du tirage et du développement de photographies argentiques et/ou numériques. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p><br>
  </div>
  
  <div class="containerp">
   <br><h3 id="studio">Le Studio</h3><br>
   <img src="/Assets/gallerie/STUDIO.webp" alt="Image">
   <p> 
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, voluptas! Hic at nihil itaque! Perspiciatis nesciunt quisquam consequuntur quae, voluptatibus assumenda eum. Eligendi repellat repudiandae facilis fugit ut minima quibusdam!
    Consectetur, ducimus, fugit ea fuga animi assumenda, qui eligendi quia obcaecati labore minima mollitia rerum porro asperiores reiciendis! Tempore at ipsam reprehenderit tempora ullam sint porro molestias, dignissimos ab. Necessitatibus.
    Accusantium, fuga rem quidem aspernatur sit iure nemo. Distinctio sapiente, architecto ad dignissimos, temporibus aperiam pariatur voluptatibus alias quibusdam ipsam vero dicta facere eum veniam illo libero illum commodi minus?
    Totam similique tempora dolor, voluptatum ratione accusamus deserunt, possimus cupiditate reprehenderit maiores in. Expedita, culpa? Illum sit molestiae inventore voluptates dolore modi enim, praesentium amet sequi eius itaque vero debitis.
  </p><br>
</div>

<div class="containerp">
  <br><h3 id="lab">Le Laboratoire</h3><br>
  <p> 
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora dolorum odio consectetur. Rerum voluptatem quia enim sint corporis fugit, voluptatum magni tempore illo id perferendis placeat, quae, dicta maxime et!
  Quis qui, ea facilis sint eius neque eligendi dolorem incidunt deleniti amet cumque obcaecati vitae fuga odit asperiores explicabo, eveniet tempore voluptatum deserunt corporis blanditiis corrupti. Corporis minus aliquid suscipit?
  Corrupti debitis ab provident blanditiis deleniti maxime dolorem suscipit unde harum doloribus autem dicta consequuntur praesentium ad accusantium id maiores, quas voluptates numquam optio laborum similique est adipisci! Minima, atque?
  </p><br>
</div>
  
<div class="containerp">
  <br><h3 id="sorties">Les Sorties</h3><br>
  <img class="formatImg" src="/Assets/gallerie/sorties2.jpeg" alt="Image">
  <p> 
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, asperiores porro facilis voluptate, maiores ipsum qui iure doloremque perspiciatis cum odio voluptatibus fugiat eaque quas. Repudiandae vitae porro labore vel!
  Vel cupiditate assumenda facilis reiciendis, sequi nostrum exercitationem. Aliquam incidunt asperiores ad modi accusamus perspiciatis in iure alias sed quasi, magni officiis exercitationem ipsa? Molestiae consequuntur maxime id aliquid obcaecati!
  Qui expedita debitis deserunt delectus aliquid! Laudantium, esse autem quas neque saepe eveniet minus temporibus quibusdam consequatur animi quidem alias ducimus ad ullam corrupti asperiores laborum distinctio aliquid fuga. Rerum!
  Delectus libero amet consequatur molestias! Praesentium obcaecati adipisci incidunt inventore. Eum nobis explicabo quidem officia doloremque? Iusto exercitationem itaque beatae eveniet accusantium doloribus officiis molestiae nemo explicabo praesentium. Iure, consequuntur.
  </p><br>
</div>

<div class="containerp">
  <br><h3 id="expo">Les Expositions</h3><br>
  <img src="/Assets/gallerie/expo.jpeg" alt="Image">
  <p> 
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum sit ipsum neque nulla impedit quae, vitae quidem nesciunt sequi, totam aut officiis earum magni non. Eaque, quod dicta. Natus, minus!
  Doloremque voluptas, illo ut obcaecati ipsum consectetur cumque cupiditate tempore iusto distinctio placeat eaque! Similique, quaerat ipsum incidunt perferendis vero maiores quas doloribus ipsa reprehenderit rem, nam, eaque neque? Necessitatibus!
  Debitis nemo praesentium similique ex porro nisi sit dignissimos, nulla dolore cupiditate tempore quidem. Nesciunt doloribus nobis ab reprehenderit amet tenetur recusandae earum facere vitae doloremque commodi, dolorum ducimus labore.
  Officiis modi nostrum expedita reiciendis ullam blanditiis. Mollitia eveniet aliquid minus inventore optio ad enim perspiciatis distinctio ab sit, adipisci, iure reiciendis nemo alias explicabo nisi officia quod exercitationem quasi?
  Optio reprehenderit explicabo, distinctio, quos ullam reiciendis eos fugiat quod, laborum placeat sequi perferendis minima! Ut totam veniam non cupiditate debitis vitae doloribus dignissimos? Molestiae dolor officiis sed nostrum non.
  </p><br><br>
 </div>

  </div> 

      </div>
    </article>



</main>
    <footer>
      <div>
        <p>Copyright : DWWM</p>
      </div>
       <div> 
        <a href="">Mention Légales</a>
        <a href="/Components/form/index.html">Nous contacter</a>
       </div>
    </footer>
              <!-- fin milieu -->

    </div>  <!-- Fin Container -->

</body>
</html>